<html>
  <head>
    <title>Lijstje</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="./css/main.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
  <h2>Todo Lijst</h2>
<form action ="/addtask" method="POST">
  <label for="nieuwe-taak">Voeg item toe</label>
  <input type="text" name="newtask" placeholder="voeg je bitch"><button> Voegtoe </button>
  <h3>Toegevoegde taken</h3>
  <ul class="todo">
    <% for( var i = 0; i < task.length; i++){ %>

      <li class="editMode"><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %><button class="edit">Edit</button><button class="delete">Delete</button> </li>
      <% } %>
    </ul>
   <button formaction="/removetask" type="submit"> Verwijder </button>
</form>
  <h3>Volbrachte taken</h3>
  <ul class="volbracht">
  <% for(var i = 0; i < complete.length; i++){ %>
  <li class="editMode"><input type="checkbox" checked><%= complete[i] %><button class="edit">Edit</button> </li>
  <% } %>
  </ul>
</div>
<script type="text/javascript" src="./js/main.js">

</script>
</body>
</html>
