/*
========================================================
    GENERAL
========================================================
*/
body {
  background: #36d1dc;
  background: -webkit-linear-gradient(to top, #5b86e5, #36d1dc);
  background: linear-gradient(to top, #5b86e5, #36d1dc);
  font-family: Lato, sans-serif;
}
main {
  display: block;
  width: 400px;
  margin: 50px auto 0;
  background-color: white;
  padding: 1rem;
}
/*
========================================================
    Text
========================================================
*/
h1 {
  color: #3e6196;
  font-family: Lato, sans-serif;
}
h2 {
  /* color: darkred;
  font-family: Lato, sans-serif; */
  color: #3e6196;
  font-weight: 800;
  font-size: 15px;
  border-bottom: 2px solid #3e6196;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/*
========================================================
    Button
========================================================
*/
button,
a,
input[type="submit"] {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #0fc57c;
}
a:hover {
  color: #0fc57c;
  text-decoration: underline;
}
a,
button {
  text-decoration: none;
}
.voegtoe:hover {
  text-decoration: underline;
}
.delete:hover,
.delete:focus {
  color: red;
  text-decoration: underline;
}
/*
========================================================
    List
========================================================
*/
fieldset {
  border: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #3e6196;
  list-style: none;
  font-family: Lato, sans-serif;
  font-size: 1em;
}
.todo {
  color: black;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  /* top: 15px; */
}
/*
========================================================
    Nieuwe taak
========================================================
*/
h3,
label[for="nieuwe-taak"] {
  color: #3e6196;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 2px solid #3e6196;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
label[for="nieuwe-taak"] {
  display: block;
  margin: 0 0 20px;
}
/*
========================================================
    Volbracht
========================================================
*/
.volbracht {
  text-decoration: line-through;
  color: #888;
}
input[type="checkbox"]:checked + .streep {
  text-decoration: line-through;
  color: #888;
}
/*
========================================================
    Input
========================================================
*/
input[type="text"] {
  margin: 0;
  font-size: 1em;
  line-height: 18px;
  /* height: 18px; */
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/*
========================================================
    Edit
========================================================
*/

ul li input[type="text"] {
  display: none;
}
.editMode{
  display: flex;
  align-items: baseline;
}
.editMode label{
  margin-right: auto;
}
.editMode form {
  display: flex;
  align-items: baseline;
}
ul li.editMode input[type="text"] {
  display: block;
}
li.editMode input, li.editMode label{
  display: flex;
  justify-content: flex-start;
}
li.editMode a, li.editMode button{
  display: flex;
  justify-content: flex-end;
}
li.editModel label.streep{
  display: none;
}
form input[type="submit"]{
  display: flex;
  justify-content: flex-end;
}


/* ul li.editMode label {
  display: none;
} */
